.container {
  display: flex;
  margin-bottom: 25px;
  .header {
    flex-grow: 1;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.infoContainer {
  display: flex;
  margin-bottom: 55px;
  .client {
    flex-grow: 1;
  }
}
