@import '../../../../assets/styles/variables.scss';
.title {
  font-size: 20px;
  font-weight: 700;
  background-color: #ededed;
  color: $main-color;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  & * {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin: 6px 0;
    text-align: center;
  }
  .definition {
    font-weight: 700;
  }
}
.ConfirmButton {
  background: $softGreenColor;
}

.CancelButton {
  background: $redButton-color !important;
}
