@import '../../assets/styles/variables.scss';
.forColumnItem,
.forColumnGroup {
  position: relative !important;
  margin: 0 !important;
}

.forColumnGroup {
  color: $grayBlack-color;
  font-size: 21px;
}

.forColumnItem {
  color: $gray-color;
  font-size: 16px;
}

.custom-style.react-data-grid {
  color: $gray-color !important;
}

.container {
  display: flex;
  flex-direction: row;
}

.content {
  margin-left: 2%;
}

.zerosAtTable {
  color: #cdcdcd !important;
}
