.definitions {
  font-family: 'Didact Gothic';
  font-weight: 700;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 'def-header' 'def-date' 'def-units' 'def-area' 'def-price' 'def-price-m2-addons' 'def-price-m2' 'def-sales-l0' 'def-increment-goal' 'def-sales-future' 'def-increment-base' 'def-analysis-inverse' 'def-retention-months' 'def-ear' 'def-sales-wizard' 'def-inventory-retention' 'def-ear-suggestion' 'def-increment-goal-suggestion';

  .def-header {
    grid-area: def-header;
  }

  .def-date {
    grid-area: def-date;
  }

  .def-units {
    grid-area: def-units;
  }

  .def-area {
    grid-area: def-area;
  }

  .def-price {
    grid-area: def-price;
  }

  .def-price-m2-addons {
    grid-area: def-price-m2-addons;
  }

  .def-price-m2 {
    grid-area: def-price-m2;
  }

  .def-increment-goal {
    grid-area: def-increment-goal;
  }

  .def-sales-l0 {
    grid-area: def-sales-l0;
  }

  .def-sales-future {
    grid-area: def-sales-future;
  }

  .def-increment-base {
    grid-area: def-increment-base;
  }

  .def-analysis-inverse {
    grid-area: def-analysis-inverse;
  }

  .def-retention-months {
    grid-area: def-retention-months;
  }

  .def-ear {
    grid-area: def-ear;
  }

  .def-sales-wizard {
    grid-area: def-sales-wizard;
  }

  .def-inventory-retention {
    grid-area: def-inventory-retention;
  }

  .def-ear-suggestion {
    grid-area: def-ear-suggestion;
  }

  .def-increment-goal-suggestion {
    grid-area: def-increment-goal-suggestion;
  }
}
