.Container {
  display: grid;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "Intersect Headers""Columns Table";
  overflow: auto;

  .Intersect {
    position: sticky;
    left: 0;
    top: 0;
    grid-area: Intersect;
    background: #fff;
    z-index: 99;
    text-align: center;
    background: #666;
    padding: 0.75em 1.5em;
    font-weight: bold;
    color: #fff;
    
  }

  .Header {
    grid-area: Headers;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 98;
    background: #31bc86;
    text-align: center;
    padding: 0.75em 1.5em;
    font-weight: bold;
    color: #fff;

    &>* {
      flex-grow: 1;
    }
  }

  .Columns {
    grid-area: Columns;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 98;
    background: #2ea879;
    padding: 0.75em 1.5em;
    font-weight: bold;
    color: #fff;
    display: flex;
    flex-direction: column;
    &>* {
      flex-grow: 1;
    }
  }

  .Table {
    grid-area: Table;
    flex-grow: 1;
    width: 100%;

    .Row {
      display: flex;
      width: 100%;
      text-align: center;

      &:hover {
        background: rgba(129, 208, 177, 0.3);
      }

      &>* {
        flex-grow: 1;
        padding: 0.75em 1.5em;
      }
    }
  }

}