@import "../../assets/styles/variables.scss";

.Container {
  display: flex;
  text-align: center;
  height: 100vh;
  align-items: center;
  justify-content: center;

  label {
    color: $red-color;
  }
}

.Input {
  font-size: 30px;
}

.Card {
  display: flex;
  text-align: center;
}

.Button {
  margin-top: 10%;
}
