@import '../../../../../assets/styles/variables.scss';

.textField {
  z-index: 0 !important;
  width: 70% !important;
}

.card {
  display: flex;
  align-self: center;
  position: relative;
  left: 30%;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: $white-color;
  background-color: $black-color;
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: $main-color;
}

.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}

.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.uploadedImage {
  border-radius: 8px;
  width: 500px;
}

.buttons {
  margin-left: 7px;
}
