.ActionContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 36px;
}

.Content {
  display: flex;
  text-align-last: center;
  & * {
    flex-grow: 1;
  }
  & .Column * {
    margin-bottom: 5px;
  }
  & .Header {
    font-weight: 700;
    margin-bottom: 15px;
  }
  & .Text {
    min-height: 52px;
  }
}

.CardBody {
  margin: 25px 0px !important;
}

.Title {
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 15px;
  font-family: 'Didact Gothic';
}

.AccordionContainer {
  box-sizing: border-box;
  padding: 25px;
  .incrementContainer {
    display: flex;
    & * {
      flex-grow: 1;
    }
  }
}

.Button {
  flex-direction: row-reverse;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 'definitions total sold inventory' 'definitions total sold inventory' 'definitions total sold inventory' 'definitions total sold inventory' 'definitions total sold inventory' 'definitions total sold inventory' 'definitions total sold inventory' 'definitions total sold inventory' 'definitions total sold inventory' 'definitions total sold inventory' 'definitions total sold inventory' 'definitions total sold inventory' 'definitions total sold inventory' 'definitions total sold inventory' 'definitions total sold inventory' 'definitions total sold inventory' 'definitions total sold inventory' 'definitions total sold inventory';
}

.definitions {
  grid-area: definitions;
}

.total {
  grid-area: total;
}

.sold {
  grid-area: sold;
}

.inventory {
  grid-area: inventory;
}
