.Container {
  background: rgba($color: #000, $alpha: 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modal {
  width: 50%;
  background: #fff;

}