*
    box-sizing: border-box

\:root
    font-size: 10px

body
    font-family: $text-font

.app
    display: flex
    justify-content: flex-start
    flex-direction: row
    align-items: stretch
    height: 100vh

    .sidebar
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: stretch
        flex-basis: 5rem
        background: $sidebar-color
        flex-shrink: 0

        .logo
            display: flex
            justify-content: center
            align-items: center
            flex-basis: 5rem
            background: $button-color
            color: $sidebar-menu-item-color
            cursor: pointer

            &:hover
                color: white

        .menu-item
            position: relative
            display: flex
            justify-content: center
            align-items: center
            flex-basis: 5rem
            cursor: pointer
            border-bottom: 1px solid gray
            color: $sidebar-menu-item-color

            .tooltip
                position: absolute
                left: calc(100% + 1rem)
                width: 14rem
                font-size: 1.2rem
                background: $sidebar-color
                border-radius: 0.5rem
                padding: 0.5rem
                opacity: 0.85
                visibility: hidden
                opacity: 0
                transition: visibility 0s, opacity 0.7s linear

                &::before
                    content: ""
                    position: absolute
                    left: -0.5rem
                    width: 0
                    height: 0
                    border-top: 0.5rem solid transparent
                    border-right: 0.5rem solid $sidebar-color
                    border-bottom: 0.5rem solid transparent

            &.active
                border-left: 2px solid $button-color

                &::before
                    content: ""
                    position: absolute
                    top: calc(50% - 0.7rem)
                    left: 0
                    width: 0
                    height: 0
                    border-top: 0.7rem solid transparent
                    border-left: 0.7rem solid $button-color
                    border-bottom: 0.7rem solid transparent

            &:hover
                color: white

                .tooltip
                    visibility: visible
                    opacity: 1

    .main-container
        display: flex
        flex-direction: column
        justify-content: flex-start
        flex-grow: 1
        flex-shrink: 1
        max-width: calc(100vw - 5rem)
        background: $content-color

        .header
            display: flex
            flex-direction: row
            align-content: center
            flex-basis: 5rem
            flex-grow: 0
            flex-shrink: 0
            justify-content: space-between
            padding: 0 1rem
            background: $header-color
            box-shadow: $default-shadow

            .title
                flex-basis: auto
                flex-grow: 0
                flex-shrink: 0

            .tabs
                flex-grow: 1
                display: flex
                flex-direction: row
                align-items: flex-end
                justify-content: flex-end

                .tab
                    font-size: 1.6rem
                    padding: 0.8rem 1.2rem 0.4rem 1rem
                    border-bottom: none
                    margin: 0 0.4rem
                    border-radius: 0.6rem 0.6rem 0 0
                    background: $button-color
                    color: white
                    text-transform: uppercase
                    cursor: pointer
                    font-weight: bold

                    &:hover
                        opacity: 0.8

                    &.active
                        opacity: 0.8
                        padding: 1.2rem 1.2rem 0.4rem 1rem

        .content
            display: flex
            justify-content: flex-start
            flex-direction: column
            flex-grow: 1
            flex-shrink: 1
            flex-basis: 0
            max-width: 100%
            overflow-x: hidden

            .input-form
                flex-grow: 1
                flex-shrink: 1
                display: flex
                justify-content: center
                padding: 2rem

            .submit-form
                display: flex
                justify-content: flex-start
                padding: 2rem 4rem

            .loading
                display: flex
                flex-grow: 1
                justify-content: center
                align-items: center

            .results
                display: flex
                flex-direction: column
                justify-content: flex-start
                flex-basis: 0
                flex-grow: 1
                flex-shrink: 1
                max-width: 100%
                overflow: auto

                .cash-flow
                    flex-shrink: 0
                    flex-grow: 0

                    table
                        font-size: 1.2rem

                        tbody
                            font-family: $number-font

                .sales-report
                    display: flex
                    flex-direction: column
                    flex-grow: 1
                    font-size: 1.4rem
                    padding: 2rem

                    .totals
                        display: flex
                        flex-direction: row
                        justify-content: center
                        flex-basis: 16rem
                        flex-shrink: 0
                        flex-grow: 0

                        .item
                            display: flex
                            flex-direction: column
                            flex-basis: 16rem
                            margin: 1rem

                            .item-title
                                padding: 1rem
                                font-weight: bolder
                                background: white
                                text-align: center

                            .item-value
                                padding: 1rem
                                font-size: 2.4rem
                                text-align: right

                    .table-report
                        display: flex
                        flex-direction: row
                        justify-content: center

                        .report-container
                            display: flex
                            flex-direction: row
                            justify-content: center

                            .report-content
                                display: flex
                                flex-direction: column

                                .report-title
                                    font-size: 2.4rem
                                    padding: 1rem
                                    background: white
                                    text-align: center

                                table
                                    tr
                                        height: 4rem

                            .report-graph
                                display: flex
                                flex-direction: column

                                div
                                    flex-grow: 1

                .charts
                    display: flex
                    flex-direction: column
                    flex-grow: 1

                    div
                        flex-grow: 1

        .footer
            display: flex
            justify-content: flex-end
            flex-shrink: 0
            flex-basis: 5rem
            font-size: 1.6rem
            padding: 0 2rem
