@import 'bourbon/bourbon'

label
  font-size: 1.4rem

#{$all-text-inputs}, select
  font-family: $number-font
  padding: 0.6rem
  border-radius: 0.4rem
  border: 1px solid lightgray
  font-size: 1.6rem

#{$all-buttons}
  font-family: $text-font
  font-size: 1.6rem
  font-weight: bold
  letter-spacing: 0.1rem
  padding: 0.8rem 1.2rem
  border-radius: 0.4rem
  border: none
  background: $button-color
  color: white
  text-transform: uppercase
  cursor: pointer

#{$all-buttons-hover}
  opacity: 0.8