@import "../../../assets/styles/variables.scss";

.Container {
  display: flex;
}

.Cell {
  padding: 10px;
  margin: 10px;
  border: 1px solid $softGrayBackground-color;
  border-radius: 7px;
  min-width: 50px;
  text-align: center;
}

.Row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

.Column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}