.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 30px;

  & * {
    text-align: center;
  }

  .header {
    font-weight: 700;
  }

  .combinedHeader {
    display: flex;
  }

  .subHeader {
    flex-grow: 1;
    font-weight: 700;
    display: block;
    text-align: start;
  }

  .combinedRow {
    display: flex;
  }

  .subRow {
    text-align: start;
    flex-grow: 1;
    display: block;
  }
}
