button {
  font-family: inherit;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  background: #7d4cdb;
  padding: 10px 40px;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
  margin: 0 10px;
}

button:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 15px rgba(145, 92, 182, .4);
}