@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import '../../../assets/styles/variables.scss';

.Button {
  font-family: inherit;
  text-decoration: none;
  color: $white-color;
  background: $main-color;
  border-radius: 4px;
  padding: 10px 40px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
  margin: 0 10px;

  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    background: #ccc;
    cursor: default;
  }
}
