@import '../../assets/styles/variables.scss';
.heading {
    display: flex;
    direction: row;
}

.titleExpand {
    margin-top: 1%;
    margin-left: 8px;
}

.circleIcon {
    display: flex;
    justify-content: center;
    direction: row;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: $defaultWhite-color;
}

.circleColorGeneral {
    background-color: $softGreen-color;
    font-size: 8px !important;
}

.circleColorGeneralBlue {
    background-color: $main-color;
    font-size: 8px !important;
}

.actionContainer {
    display: flex !important;
    direction: row !important;
    justify-content: center !important;
}