@import '../../../../assets/styles/variables.scss';

.IconButton {
  color: $white-color;
  background: $main-color;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 50%;
  padding: 0.5em 0.6em;
  vertical-align: text-top
}