@import '../../assets/styles/variables.scss';

.SideMenu {
  display: flex !important;
  flex-direction: column;
  flex-basis: 5rem;
  flex-shrink: 0;
  background: $softGray-color;
  height: 100%;
  flex: 0.8;
  justify-content: flex-start;
  overflow: hidden;
  transition: all 0.2s ease;
  -webkit-box-shadow: 6px 3px 11px -4.5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 6px 3px 11px -4.5px rgba(0, 0, 0, 0.1);
  box-shadow: 6px 3px 11px -4.5px rgba(0, 0, 0, 0.1);
  border: red;
  &:hover,
  .collapseAndExpandRow {
    -webkit-box-shadow: 6px 3px 11px -4.5px $main-color;
    -moz-box-shadow: 6px 3px 11px -4.5px $main-color;
    box-shadow: 6px 3px 11px -4.5px $main-color;
  }
  z-index: 5;
  overflow-y: scroll;
}

.ZeroWidth {
  width: 0px;
}

.OriginalWidth {
  width: 240px;
  overflow-y: auto;
}

.title {
  margin: 16% 0;
  padding: 15px;
  font-weight: bold;
  text-align: center;
}

.IconsContainer {
  z-index: 3;
}

.Description {
  color: #2d3436;
}

.DescriptionActive {
  color: #fff;
}

.Start {
  margin-top: 3vh;
}

.End {
  margin-top: auto;
  margin-bottom: 3vh;
}

.MenuItem {
  color: #2d3436;
  display: flex;
  justify-content: center !important;
  width: 100vw !important;
  background-color: $itemNoActive !important;
  z-index: 3;
  a:link,
  a:visited {
    padding: 15px 16px;
    color: #2d3436;
    flex: 1;
    border: none;
    transition-duration: 0.4s;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
  }
  a:focus {
    color: $main-color;
  }
  a:hover,
  a:active {
    color: #2d3436;
    border-left: 5px solid $softGray-color;
  }
}

.Active {
  display: flex;
  justify-content: center;
  width: 100%;

  a:link,
  a:visited {
    flex: 1;
    border: none;
    color: #fff;
    border-left: 5px solid $softGray-color;
    padding: 10px 2px;
    transition-duration: 0.4s;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
  }

  a:hover,
  a:active {
    border-left: 5px solid $softGray-color;
  }
}

.fixedWidth {
  min-width: 150px;
  overflow-x: hidden;
}

.Visible {
  display: flex !important;
}
.NoVisible {
  display: none !important;
}

.Badge {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  color: #fff;
  overflow: hidden;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  background: $red-color;
  top: -10px;
}

.header {
  text-align: center;
  font-weight: 700;
  margin: 15px 0;
}

.expansionPanel {
  background-color: transparent !important;
  box-shadow: none !important;
  margin: 0 !important;
}

.expansionPanel:before {
  background-color: transparent !important;
}

.expansionPanelSummary {
  margin: 0 !important;
  padding: 0 10px !important;
  box-sizing: content-box;
  &:hover {
    background-color: #00000021 !important;
  }
}

.expansionPanelDetails {
  padding: 0 !important;

  margin-bottom: 15px;
  background-color: #2d3436;
}

.linkContainer {
  display: flex;
  flex-direction: column;
}
