@import '../../assets/styles/variables.scss';

.SideMenu {
  display: flex !important;
  flex-direction: column;
  flex-basis: 5rem;
  flex-shrink: 0;
  background: $softGray-color;
  height: 100%;
  flex: 0.8;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  transition: all 0.2s ease;
  &:hover,
  .collapseAndExpandRow {
    -webkit-box-shadow: 14px 6px 22px -9px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 14px 6px 22px -9px rgba(0, 0, 0, 0.3);
    box-shadow: 14px 6px 22px -9px rgba(0, 0, 0, 0.3);
    border-left-color: $main-color;
  }
  z-index: 5;
}

.ZeroWidth {
  width: 0px;
}

.OriginalWidth {
  width: 240px;
}

.IconsContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 3vh;
  z-index: 3;
}

.Description {
  color: inherit;
}

.Start {
  margin-top: 3vh;
}

.End {
  margin-top: auto;
  margin-bottom: 3vh;
}

.MenuItem {
  display: flex !important;
  justify-content: center !important;
  width: 100% !important;
  z-index: 3;
  a:link,
  a:visited {
    flex: 1;
    border: none;
    color: $black-color;
    padding: 10px 2px;
    transition-duration: 0.4s;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
  }
  a:focus {
    color: $main-color;
    background-color: $softGrayBackground-color;
  }
  a:hover,
  a:active {
    background-color: $softGrayBackground-color;
    border-radius: 2px;
  }
}

.Active {
  display: flex;
  justify-content: center;
  width: 100%;
  a:link,
  a:visited {
    flex: 1;
    border: none;
    background-color: $softGrayBackground-color;
    color: $main-color;
    padding: 10px 2px;
    transition-duration: 0.4s;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
  }

  a:hover,
  a:active {
    background-color: $softGrayBackground-color;
    border-radius: 2px;
  }
}

.fixedWidth {
  min-width: 150px;
  overflow-x: hidden;
  margin-left: 16%;
}
