.ContainerFlex {
  display: grid;
  grid-template-columns: 6% 10% 15% 15% 15% 15% 15% 15%;
  align-items: center;
  justify-content: center;
}

.gridItem {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  margin-top: -5%;
}
