@import '../../assets/styles/variables.scss';
.Loader {
  align-self: center !important;
  position: relative;
  left: 45% !important;
}

.noContractBody {
  align-self: center;
  position: relative;
  left: 10%;
  color: $black-color;
}
