@import '../../../../assets/styles/variables.scss';

.inventory {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 'inv-header' 'inv-date' 'inv-units' 'inv-area' 'inv-price' 'inv-price-m2' 'inv-sales-l0' 'inv-increment-goal' 'inv-sales-future' 'inv-sales-average' 'inv-increment-base' 'inv-analysis-inverse' 'inv-inventory-base-price-mt2' 'inv-inventory-base-price' 'inv-speed-sales' 'inv-retention-months' 'inv-ear' 'inv-sales-wizard' 'inv-inventory-retention' 'inv-ear-suggestion' 'inv-increment-goal-suggestion';
  grid-area: inventory;

  & * {
    display: flex;
    align-items: center;
  }
}

.inv-header {
  background-color: #f3f3f3;
  color: #777;
  font-weight: 700;
  font-size: 20px;
  grid-area: inv-header;
}

.inv-date {
  grid-area: inv-date;
}

.inv-units {
  grid-area: inv-units;
}

.inv-area {
  grid-area: inv-area;
}

.inv-price {
  grid-area: inv-price;
}

.inv-price-m2 {
  grid-area: inv-price-m2;
}

.inv-sales-l0 {
  grid-area: inv-sales-l0;
}

.inv-increment-goal {
  grid-area: inv-increment-goal;
}

.inv-increment-goal-text-red {
  grid-area: inv-increment-goal;
  color: $red-color;
}

.inv-sales-future {
  grid-area: inv-sales-future;
}

.inv-sales-average {
  grid-area: inv-sales-average;
}

.inv-increment-base {
  grid-area: inv-increment-base;
  color: $gray-color;
}

.inv-analysis-inverse {
  background-color: #f3f3f3;
  color: #777;
  grid-area: inv-analysis-inverse;
}

.inv-inventory-base-price-mt2 {
  grid-area: inv-inventory-base-price-mt2;
}

.inv-inventory-base-price {
  grid-area: inv-inventory-base-price;
}

.inv-speed-sales {
  grid-area: inv-speed-sales;
}

.inv-retention-months {
  display: block;
  grid-area: inv-retention-months;
}

.inv-ear {
  grid-area: inv-ear;
}

.inv-sales-wizard {
  background-color: #ededed;
  grid-area: inv-sales-wizard;
}

.inv-inventory-retention {
  grid-area: inv-inventory-retention;
}

.inv-ear-suggestion {
  grid-area: inv-ear-suggestion;
}

.inv-increment-goal-suggestion {
  grid-area: inv-increment-goal-suggestion;
}
