@import url('https://fonts.googleapis.com/css?family=Didact+Gothic:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body {
  background: #f9f9fc;
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "Roboto";
  font-size: 18px;
  height: 100vh;
}

#root {
  height: 100%;
}