@import '../../assets/styles/variables.scss';
$circle-size: 50px;

.componentRoot {
  background-color: #ccc !important;
  z-index: 1 !important;
  color: #fff !important;
  width: $circle-size !important;
  height: $circle-size !important;
  display: flex !important;
  border-radius: 50% !important;
  justify-content: center !important;
  align-items: center !important;
}

.componentActive {
  background-color: $main-color !important;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.componentCompleted {
  background-color: $main-color !important;
}

.itemIcon {
  width: 30px !important;
}
