.rootTypography {
  display: flex;
  flex-direction: row;
  margin: 0 0 1% 0 !important;
}

.rootBoxSelect {
  margin: -1.2% 0 0 1%;
}

.rootSelect {
  width: 12vw !important;
  font-size: 17px !important;
}
