$main-color: #29339B;
$green-color: #018E42;
$red-color: #EE2E31;
$defaultWhite-color: #fafaff;
$white-color: #fff;
$softGray-color: #f4f4ff;
$gray-color: rgb(162, 162, 180);
$grayBlack-color: rgb(79, 79, 87);
$black-color: rgb(36, 36, 39);
$blackBorder-color: rgb(23, 43, 77);


//sizes

$header-size: 20px;
$body-size: 16px;
$secondaryText-size: 14px;


