$main-color: #29339b;
$green-color: #018e42;
$red-color: #ee2e31;
$yellow-color: #ffc857;
$softMain-color: #8a8fc8;
$softGreen-color: #74c197;
$softRed-color: #f58d8e;
$softYellow-color: #ffe1a3;
$defaultWhite-color: #fafaff;
$white-color: #fff;
$white-background: rgb(244, 245, 247);
$softGray-color: #f4f4ff;
$softGrayBackground-color: #d3d3db;
$gray-color: rgb(162, 162, 180);
$defaultPlaceholder-color: #bdbdc5;
$grayBlack-color: rgb(79, 79, 87);
$black-color: rgb(36, 36, 39);
$blackBorder-color: rgb(23, 43, 77);
$alert-color: #faf2a1;
$box-shadow-color: rgba(82, 63, 105, 0.1);
$softVariantGrayBackground-color: #f4f9ff;

$softGreenColor: #00c781;
$redButton-color: #ff4040;
//sizes

$header-size: 20px;
$body-size: 16px;
$secondaryText-size: 14px;

:export {
  mainColor: $main-color;
  softMainColor: $softMain-color;
  redColor: $red-color;
  softRedColor: $softRed-color;
  greenColor: $green-color;
  softGreenColor: $softGreen-color;
  yellowColor: $yellow-color;
  softYellowColor: $softYellow-color;
  grayColor: $gray-color;
}
