@import '../../assets/styles/variables.scss';

.container {
  margin-bottom: 14px;

  .outlineButton {
    background-color: #fff;
    border: 2px solid $main-color;
    color: $main-color;
    margin-left: -0.5%;
  }
}
